# Reduce

Python’s reduce() implements a mathematical technique commonly known as folding or reduction. You’re doing a fold or reduction when you reduce a list of items to a single cumulative value. Python’s reduce() operates on any iterable—not just lists—and performs the following steps:

- Apply a function (or callable) to the first two items in an iterable and generate a partial result.
- Use that partial result, together with the third item in the iterable, to generate another partial result.
- Repeat the process until the iterable is exhausted and then return a single cumulative value.

In [3]:
l = [3,5,1,18,3]
_max = lambda x,y: x if x>y else y
_max(2,5)

5

In [4]:
def max_sequence(sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = _max(result,x)

    return result

max_sequence(l)

18

In [5]:
_add = lambda x,y:x+y

def add_sequence(sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = _add(result,x)

    return result

add_sequence(l)

30

### Let's create a generalized function reducer function

In [6]:
def _reduce(fn,sequence):
    result = sequence[0]

    for x in sequence[1:]:
        result = fn(result,x)
    return result

In [8]:
# we can simply call reduce function like this-
_reduce(_add,l)

30

In [11]:
# Or we can also define lambda function
# Find the product of all the elements in the list
_reduce(lambda x,y:x*y,l)

810

In [12]:
_reduce(_add,{1,2,3,4})

TypeError: 'set' object is not subscriptable

Here it failed to find the sum because, sets can't be indexed,

But python provides built-in function (reduce) which can do this

In [13]:
from functools import reduce

reduce(_max,l)

18

In [15]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [18]:
# Some common reduce funcions are already built-in into python, like min,max
max(l)

18

In [19]:
min(l)

1

In [21]:
# Here built-in reduce worked in arrays
min({2,4,9})

2

### Any, All
**Any:**  If an expression is true in a set of experssions (1==1,True,False,5==2) -> True

**All:**  If all the expressions are true in a set of experssions (1==1,True,3!=4) -> True

### ANY

In [24]:
1==1 or 4==3 and False

True

In [38]:
# Above can also be written as (one statement is true)
l = [1==1,4==3,False]
any(l)

True

In [39]:
# if all the statements are false
l2 = [1!=1,4==3,False]
any(l2)

False

In [41]:
# above behaviour can also be achived using reducers
reduce(lambda x,y:bool(x) or bool(y),l)

True

### ALL

In [30]:
1==1 and 4!=3 and True

True

In [43]:
# if all the statements are true
l = [1==1 , 4!=3 , True]
all(l)

True

In [44]:
# if any one statemet is false
l2 = [1==3 , 4!=3 , True]
all(l2)

False

In [45]:
# above behaviour can also be achived using reducers
reduce(lambda x,y:bool(x) and bool(y),l)

True